body {
    background-color: aqua;
    font-family: 'sans serif';
    text-align: center;
    background-image: URL(https://images.unsplash.com/photo-1557800634-95f2a96fbd64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80);
}

.page-header {
    background-color: rgb(236, 231, 231);
    border-bottom: solid;
    padding: 10px 10px 10px 10px;
    margin: -10px;   
    text-align: right;
}

.page-title {
    font-size: 50px;
    border-bottom: solid;
    text-align: center;
    font-weight: bolder;
}

.page-container {
    background-color: rgb(236, 231, 231);
    width: 50%;
    position: absolute;
    left: 25%;
    border: solid;
    margin-top: 7px;
}

.chapter {
    border-bottom: solid;
    padding: 0 10px 25px 10px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
}

h2 {
    margin-top: 60px;
}

ol,ul {
    text-align: left;
}

.code-block {
    border: solid rgb(253, 112, 112) 2px;
    border-radius: 10px;
    padding: 1em;
    position: relative;
    width: 80%;
    left: 8%;
    background-color: black;
    color: white;    
    font-family: 'Courier New';
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

ind {
    color: black;
}

.library-list {
    text-align: left;
    padding: 30px 20px 30px 20px;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 900;
}