.code-block {
    border: solid red 2px;
    margin: 0.5em;
    padding: 1em;
    width: 700px;
    background-color: #f7f69a;
    font-family: 'Courier New';
    font-size: 14px;
}

.chapter {
    border: solid black 1px;
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
}