.code {
    border:solid darkblue 1px;
    background-color: rgb(240, 205, 192);
    border-radius: 12%;
    font-size: 12px;
}

.header {
    width: 100%;
    background-color: lightgray;
    height: 30px;
    position: relative;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

img {
    border: solid black 3px;
    margin: 10px auto 10px 50px;
}