

.code {
    border:solid rgb(141, 141, 245) 1px;
    background-color: rgb(240, 205, 192);
    border-radius: 12%;
    margin-top: 0px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

h2 {
    text-decoration: underline;
}

img {
    border: solid black 3px;
    margin: 10px auto 10px 50px;
}

p, li {
    line-height: 1.5;
    margin-bottom: 0.5em;
    text-align: justify;
}

li {
    padding-right: 2em;
}

#css3, #css4, #css5, #css6, #css7 {
    width: 400px;
}

